@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main,
  section,
  article,
  footer,
  header,
  div,
  span {
    @apply text-gray-900 dark:text-gray-50;
  }
  body,
  html {
    min-height: 100vh;
    @apply bg-indigo-50 text-gray-900;
    @apply dark:bg-gray-900 dark:text-gray-50;
  }
  h1 {
    @apply text-gray-900 font-semibold;

    @apply dark:text-gray-50;
  }
  h2 {
    @apply text-gray-500 font-medium;

    @apply dark:text-gray-400;
  }
  button {
    @apply bg-blue-600  text-white m-1 py-2 px-4 rounded-xl shadow;
    @apply hover:shadow-none hover:opacity-80;

    @apply dark:bg-gray-700;
  }
  a {
    @apply text-gray-500 underline;
    @apply hover:text-gray-700;

    @apply dark:text-gray-300;
    @apply dark:hover:text-gray-100;
  }
  svg {
    @apply w-6 h-6 inline-block mx-2;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .terminal {
    width: clamp(24rem, 70%, 40rem);
  }

  .hashtag::before {
    content: "#";
    @apply px-1  text-green-900 dark:text-green-200;
  }

  .html-code::before {
    content: '<';
    @apply px-1 text-red-600;
  }

  .html-code::after {
    content: '/>';
    @apply px-1 text-red-600;
  }

  .shell {
    @apply text-gray-50 text-sm;
  }
  .shell::before {
    content: "$";
    @apply px-1 text-red-500;
  }
  .shell::after {
    content: "_";
    @apply font-bold text-white dark:text-green-400 px-1 animate-ping;
  }
}
